<form role="form" action="{{ path_for('installer') }}" method="POST">
    <input type="hidden" name="step" value="{{ step+1 }}">
    {% for name, value in prevData %}
        <input type="hidden" name="{{name}}" value="{{ value }}">
    {% endfor %}
    <div class="form-group">
        <label for="displayErrorDetails">Display Error Details</label>
        <input name="displayErrorDetails" type="hidden" value="false">
        <input id="displayErrorDetails" name="displayErrorDetails" type="checkbox" value="true" checked="">
    </div>
    <div class="form-group">
        <label for="debug">Debug</label>
        <input name="debug" type="hidden" value="false">
        <input id="debug" name="debug" type="checkbox" value="true" checked="">
    </div>
    <div class="form-group">
        <label for="use_log">Logging</label>
        <input name="use_log" type="hidden" value="false">
        <input id="use_log" name="use_log" type="checkbox" value="true" checked="">
    </div>
    <div class="form-group">
        <label>Log system</label>
        <select name="log_system">
            <option value="file" selected>File</option>
            <option value="db">Db</option>
        </select>
    </div>
    <div class="form-group">
        <label>Log level register</label>
        <select name="register_log[]" multiple>
            <option value="error" selected>Error</option>
            <option value="statistic" selected>Statistic</option>
            <option value="info" selected>Information</option>
        </select>
    </div>

    <div class="form-group text-right">
        <input class="btn btn-success" type="submit" value="Check >">
    </div>
</form>