{% extends '/public/main/base.twig' %}

{% block browserTitle %} {{title}} - SlimCMS {% endblock %}

{% block bodyContent %}
    {% include '/public/main/layouts/header.twig' %}
    <div class="container">
	<h1>{{ pageData.name }}</h1>

    {% if breadcrumbs %}
        {{ breadcrumbs | raw }}
    {% endif %}
    
	<div class="description">
	    {{ pageData.detail_text | raw }}
	</div>
    </div>
    {% include '/public/main/layouts/footer.twig' %}
{% endblock %}