<footer class="footer" style="border-top: 1px solid #bbb; margin:20px 0; padding:20px; background-color:#ececec;">
<div class="container">
    <div class="row">
	<div class="col-sm-3"><p>&copy; 2016 Created by <b>Andrey Leo</b>.</p></div>
	<div class="col-sm-6"> </div>
	<div class="col-sm-3">Based on <b>SlimCMS<b> v{{options.version.value}}</div>
    </div>
</div>
</footer>