<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SlimCMS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for item in menu %}
            {% if item.section %}
              <li {% if item.current %}class="active"{% endif %}><a href="{{ path_for(item.url, {'pageCode':item.code}) }}">{{item.name}}</a></li>
            {% else %}
              <li {% if item.current %}class="active"{% endif %}><a href="{{ path_for(item.url) }}">{{item.name}}</a></li>
            {% endif %}
      	{% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style="height:70px; width:100%;"> </div>